.jumbotron {
  padding:@jumbotoron-padding;
  margin-bottom: @jumbotoron-padding;
  font-size: (@font-size-base * 1.5);
  font-weight: 200;
  Line-height: (@line-height-base * 1.5);
  color: @jumbotoron-color;
  background-color: @jumbotron-bg;
  background: url('../images/JumbotronBack.jpg')
}

.jumbotron h1,
.jumbotron .h1 {
  color: ;
}
.jumbotron p {
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: ;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: ) {
  .jumbotron {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .container .jumbotron {
    padding-left: 200px;
    padding-right: 200px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size:  * 4.5;
  }
}
