@(currentUser: User, countHash: Map[String, Int])

@main("idList", "", currentUser){

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/back.css")">

  <div class="col-md-3">
    <br>
    <img src="../img/favicon.jpg" alt="" class="img-thumbnail">
    <br>
    <div class="media">
      <h3>
        @currentUser.twitter_id
        <img src="@currentUser.image_url", alt="@currentUser.twitter_id">
      </h3>

      @for((user_name, count) <- countHash) {
        <a class="pull-left" href="#">
          <img class="media-object" src="..." alt="...">
        </a>
        <div class="media-body">
          <a href="https://twitter.com/innparusu">
          <h4 class="media-heading">@user_name<span class="badge badge-info pull-right">@count</span></h4></button>
          </a>
        </div>
        <br>
      }
    </div>
  </div>
}
