@(currentUser: User, countHash: Map[String, Int], begins: Seq[Begin])

@import helper.twitterBootstrap._

@views.html.idList(currentUser, countHash)

@main("home", "", currentUser){

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/back.css")">


  <div class="col-md-9">
    <div class="jumbotron">
      <h1>Welcome!!</h1>
      <p>ここではtwitter上での会話一覧を見ることが出来ます。<br>
    表示したい相手を指定出来るだけでなく、日付で検索することも可能です。<br>
    既にお持ちのtwitterアカウントでログインすることができます。
    </p>
    </div>

      <div class="col-md-6">
        <div class="alert alert-info">最新の会話</div>
        <ul class="list-group">
          @for(begin <- begins) {
            <li class="list-group-item">
              <a class="pull-left" href="#">
                <img class="media-object" src="@begin.image_url" alt="@begin.twitter_id" width="50" height="50">
              </a>
              <div class="media-body">
                <h4 class="media-heading">@begin.twitter_id </h4>
                <a href="/users/chat?tweet_id=@begin.tweet_id">
                @begin.text
                </a>
             </div>
            </li>
          }
        </ul>
      </div>

      <div class="col-md-6">
        <div class="alert alert-info">よく会話をする人</div>
          <ul class="list-group">
            @for((user_id, count) <- countHash.take(5)){
              <li class="list-group-item">
                <a class="pull-left" href="#">
                  <img class="media-object" src="" alt="">
                </a>
                <div class="media-body">
                  <a href="/users/chats?twitter_id=@user_id">
                  <h4 class="media-heading">@user_id<span class="badge badge-info pull-right">@count</span></h4></button></a>
                  </a>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>

  </div>
}

