@(urlTwitter: String, currentUser: User)

@import helper.twitterBootstrap._

@main("home", urlTwitter, currentUser){

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/back.css")">


  <div class="col-md-9">
    <div class="jumbotron">
      <h1>Welcome!!</h1>
      <p>ここではtwitter上での会話一覧を見ることが出来ます。<br>
    表示したい相手を指定出来るだけでなく、日付で検索することも可能です。<br>
    既にお持ちのtwitterアカウントでログインすることができます。
    </p>
    </div>
  </div>
}

