@(urlTwitter: String, currentUser: User)

@import helper.twitterBootstrap._

@main("home", urlTwitter, currentUser){

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/back.css")">


  <div class="col-md-9">
    <div class="hidden-sm">
      <div class="jumbotron">
        <h1>Welcome!!</h1>
        </p>
      </div>
    </div>

    <div class="visble-sm">
      <div class="jumbotron">
        <h1>Welcome!!</h1>
        </p>
      </div>
    </div>
  </div>
}

